:root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-black: #151515;
  --main-blue: #3f84e5;
  --main-white: #edf5fc;
  --main-yellow: #f7b538;
  --main-red: #b20d30;

  color-scheme: light dark;
  color: var(--main-white) !important;
  background: var(--main-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--main-white);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-black);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
